<!DOCTYPE html>
<html lang='ja'>
  <head>
    <meta  charset="UTF-8">
    <link rel="stylesheet" href="../assets/stylesheets.application.css">
    <title>show</title>
  </head>

  <body>
    <!----フラッシュメッセージの記述-->
    <div class="text-success">
      <%= flash[:notice] %>
    </div>

    <p>Title:<%= @book.title %></p>
    <p>Body:<%= @book.body %></p>

    <span>
      <%= link_to "Edit" , edit_book_path(@book.id) %>
    </span>
    ｜
    <a href='/books'>back</a>

  </body>
</html>
