*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  font-size:13px;
  line-height:18px;
  margin:33px;
}

h1{
  font-size: 2em;
  writing-mode:horizontal-tb;
  margin-block-start:0.67em;
  margin-block-end:0.67em;
  margin-inline-start:0px;
  margin-inline-end:0px;
  font-weight:bold;
}

strong{
  font-weight: bold;
}

p{
  font-size:13px;
  line-height: 18px;
  margin:33px;
}

a:visited{
  color: #666;
}

a:-webkit-any-link{
  cursor:pointer;
  text-decoration: underline;
}